* {text-align: center;
margin: 0;
font-family:cursive;
color:white
}
html { margin: 0;   
background-image: url(back6.jpeg);
background-position: center;
background-attachment:fixed;
background-size: cover; 
}
h1{color: rgb(245, 236, 236);
text-decoration: 1px overline dotted;
padding:10px 20px 20px 20px;
font-size: 40px;
text-shadow: 3px 3px 3px rgb(43, 180, 146);
margin-top: 20px;
}
.maindiv{
min-height: 100%;
width: 100%;
   
}
.left{width:50%;
height:250PX; float:left
;padding-top: 20px;
font-size: 20px;
background-color: hsla(190, 24%, 34%, 0.4);

}
.right{width:50%;
float:left;height:262PX;
background-color: rgb(209, 209, 217)
}
.left1{width:50%;
height: 250px;; float:right;
font-size: 20px;
;padding-top: 20px;
background-color: hsla(190, 24%, 34%, 0.4);
}
.right1{width:50%;
float:left;
height: 260px;
background-color:rgb(209, 209, 217);
padding-top: 0px;

}
form{
font-size: 20px;
padding: 20px;
font-weight: bold;
 color:black
}
input{
height: 25px;
width: 300px;
color:black;
}
label{color:black;
text-decoration: underline 1px black;
}
footer{background-color: black;
    color:white;text-align: center;height: 100%;
    padding-top: 20px;
      padding-bottom: 20px;}
h2{text-decoration: underline;
font-size: 30px;
}
h4{text-decoration: underline;}
.flex-container {
    display: flexbox;
    justify-content: space-around;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 25PX;
    padding-top: 15PX;
    height:250px
  }
  
  .flex-container > div {
    background-color: hsla(190, 82%, 74%, 0.4);
    margin: 10px;
    font-size: 15px;
    justify-content: center;
    width:50%;
    margin-left: 25%;
    height:180px;
    padding-top:10px
  }
  h2{text-decoration: underline;}
.maindiv2{
color:white;
width:100%;
height:100%;
    
    
}
.left2{
background-color: hsla(190, 82%, 74%, 0.4);
width:50%;
height:200px;
float:left

}
.right2{
background-color: hsla(190, 24%, 34%, 0.4);
width:50%;
height:200px;
float:left}
.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #286870;
  border-radius: 7px;
}
.button:hover {
  background-color: #334048;
}