* {text-align: center;
    margin: 0;
    font-family:cursive;
    color:white
}
html { margin: 0;   
    background-image: url(back6.jpeg);
    background-position: center;
    background-attachment:fixed;
    background-size: cover; 
}
.flex-container {
    display: flex;
    background-color:hsla(0, 13%, 86%, 0.393);
    color:rgb(255, 248, 248);
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 25PX;
    padding-top: 25PX;
    justify-content: center;
   
}
    
  .flex-container > div {
      color:white;
      background-color: hsla(0, 0%, 9%, 0.4);
      margin: 10px;
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 5px;
      width:100%
}
    .flex-container.div2{
        color:white;
        background-color:hsla(0, 12%, 86%, 0.4);
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
        width:100%
}
    h1{color: rgb(245, 236, 236);
        text-decoration: 1px overline dotted;
        padding:10px 20px 20px 20px;
      font-size: 40px;
      text-shadow: 3px 3px 3px rgb(43, 180, 146);
    font-size: 30 px;
    margin-top: 30px;
 }
      h3{text-decoration: underline;
}
   img{padding-top: 20px;padding-bottom: 20px;}
   .flex-container2{
    display: flex;
    background-color:hsla(0, 3%, 7%, 0.4);
    color:rgb(255, 248, 248);
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 25PX;
    padding-top: 5PX;
    width:100%;
 
 }
    
  .flex-container2 > div {
      color:white;
      background-color: hsla(0, 6%, 10%, 0.662);
      margin: 10px;
      font-size: 15px;
      padding: 20px 20px 20px 20px;
      width: 100%;
}
header{background-color:rgb(209, 209, 217);
  padding-top: 10px;
  padding-bottom: 10px;}
header>p{color:black}
header>h3{color: black;}
footer{background-color: black;
padding-top: 20px;
padding-bottom: 20px;}
.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #27747e;
    border-radius: 7px;
  }
  .button:hover {
    background-color: #5fa98f;
  }